.navbar{
    @include center;
    @include limits(4em, 18em);
    flex-direction: column;
    position: fixed;
    background-color: $TRANSPARENT-COLOR;
    backdrop-filter: blur(1em);
    border-radius: 5em;
    top: 50%;
    left: 1em;
    padding: 1em .5em;
    gap: 1.5em;
    transform: translateY(-50%) translateX(-100px);
    animation: nav-in 1s ease 1 0.4s forwards;

    a{
        color: $CUATERNARY-COLOR;
        border-radius: 50%;
        @include center
    }
    a:focus{
        color: $TERTIARY-COLOR;
        border: solid $TERTIARY-COLOR 2px;
        animation: nav-icon 0.2s 2 alternate;
    }
}

.icon-nav{
    font-size: 3em;
    padding: .2em;
}


@keyframes nav-in {
    to {
      transform: translateY(-50%) translateX(0);
    }
  }
@keyframes nav-icon {
    from{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    to {
        transform: scale(1.2);
        color: rgb(140, 255, 255);
        border: solid rgb(140, 255, 255) 2px;
    }
}

@media (max-width: $BREAKPOINT-TABLET) {
    .navbar {
      flex-direction: row;
      @include limits(18em, 4em);
      left: 50%;
      top: 88%;
      transform: translateX(-50%) translateY(100px);
      animation: nav-bottom 1s ease forwards;
    }
  
    @keyframes nav-bottom {
      to {
        transform: translateX(-50%) translateY(0);
      }
    }
}