@import './index.scss';

.App{
    aspect-ratio: 960/540;
    background-image: url('./assets/desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
@media screen and (max-width: $BREAKPOINT-DESK) {
    .App{
        background-image: url('./assets/tablet.svg');
    }
}
@media screen and (max-width: $BREAKPOINT-TABLET) {
    .App{
        background-image: url('./assets/mobile.svg');
    }
}